@page "/fetchdata"
@using BlazorSS.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todos)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    List<Domain.Todo> todos;

    protected override async Task OnInitAsync()
    {
        todos = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
